<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Ticketground</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.139627104931-dirf0p822gah66vhc9jsvc9plkgj6tki</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ticketground</string>
			</array>
		</dict>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kftc-bankpay</string>
		<string>ispmobile</string>
		<string>hdcardappcardansimclick</string>
		<string>shinhan-sr-ansimclick</string>
		<string>kb-acp</string>
		<string>kbbank</string>
		<string>mpocket.online.ansimclick</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>cloudpay</string>
		<string>citimobileapp</string>
		<string>payco</string>
		<string>kakaotalk</string>
		<string>lpayapp</string>
		<string>lmslpay</string>
		<string>wooripay</string>
		<string>nhallonepayansimclick</string>
		<string>hanawalletmembers</string>
		<string>shinsegaeeasypayment</string>
		<string>chaipayment</string>
		<string>kb-auth</string>
		<string>hyundaicardappcardid</string>
		<string>com.wooricard.wcard</string>
		<string>lguthepay-xpay</string>
		<string>newliiv</string>
		<string>supertoss</string>
		<string>newsmartpib</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>GIDClientID</key>
	<string>139627104931-dirf0p822gah66vhc9jsvc9plkgj6tki.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>139627104931-ms36h73qdavldvo8p0k5drj2hclmglod.apps.googleusercontent.com</string>
	<key>TicketgroundAPIBaseURL</key>
	<string>$(TICKETGROUND_API_BASE_URL)</string>
	<key>TicketgroundAssetBaseURL</key>
	<string>$(TICKETGROUND_ASSET_BASE_URL)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
